---
import { type CollectionEntry, render } from "astro:content";

interface Props {
  guides: CollectionEntry<"guides">[];
  title?: string;
  titleHref?: string;
}

const { guides, title, titleHref } = Astro.props;

const formatter = new Intl.DateTimeFormat("en-US", {
  dateStyle: "medium",
  timeZone: "UTC",
});

const guideLinks = await Promise.all(
  guides.map(async (guide) => {
    const { remarkPluginFrontmatter } = await render(guide);
    const lastModified = remarkPluginFrontmatter.lastModified as string;

    return {
      guide,
      lastModified,
      formattedDate: formatter.format(new Date(lastModified)),
    };
  }),
);
---

<section class="guide-link-group">
  {title && <h2>{titleHref ? <a href={titleHref}>{title}</a> : title}</h2>}
  <ul>
    {
      guideLinks.map(({ guide, lastModified, formattedDate }) => (
        <li>
          <a
            href={`/guides/${guide.id}`}
            class:list={[{ stub: !!guide.data.stub }]}
          >
            {guide.data.title}
          </a>
          <small>
            Last modified <time datetime={lastModified}>{formattedDate}</time>
          </small>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .guide-link-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }

  h2 {
    font-size: var(--step-2);
  }

  ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: var(--space-xs);
    font-size: var(--step-1);
  }

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    column-gap: var(--space-xs);
  }

  small {
    flex-shrink: 0;
    font-size: var(--step--2);
    color: var(--text-color-muted);
  }

  a {
    display: inline-block;
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    &.stub {
      color: var(--invalid-color);
      text-decoration-color: var(--invalid-color);
    }
  }
</style>
